main {
    min-height: 30rem;
    width: 96%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#detailArticle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#detailArticle > img {
    
    max-height: 500px;
    margin-right: 30px;
    object-fit: cover;
    object-position: center;

}

#detailArticle > fieldset
{
    min-width: 80%;
    padding: 3%;
}

#detailArticle > fieldset > legend {
    font-size: x-large;
    margin: 0 1%;
    padding: 2%;
    background-color: var(--main-color-1);
    color: white;
}


main > h2 {
    margin: 2%;
    width:100%;
    text-align: center;
}

main > fieldset {
    margin-top: 2%;
    width: 100%;
    padding: 2%;
}

#formArticle > label {
    margin: 2% 0 0 6%;
}

#formArticle > input,
#formArticle > textarea,        
#formArticle > select, 
.alterForm > input,
.alterForm > textarea,
.alterForm > select {
    margin: 2% 5%;
    width : 100%;    
}

#formArticle > textarea {
    padding: 2%;
}

#formArticle > fieldset {
    margin: 2% 5%;
    width : 90%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#formArticle > fieldset > legend {
    padding: 1% 2%;
    font-weight: bold;
}

#formArticle > fieldset > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    color: var(--main-color-1);
}

#formArticle > fieldset > div > label {
    margin-left: 10px;
}

#formArticle {
    width: 80%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > .previewfileDiv > label > img {
    width: 20%;
    height: auto;
}

main > .previewfileDiv > .previewfileInput {
    display: none;
}

#formArticle > input[type="submit"] {
    width: 50%;
    margin: 3% 5%;
    padding: 15px 15px;
    background-color: var(--main-color-2);
    color: white;
    border: none;
}

#formArticle > #fileInputCreationArticle {
    margin: 1% 5%;
    display: flex;
    align-items: center;
}

#formArticle > #fileInputCreationArticle > label {
    margin: 0 10px;
    padding: 15px 15px;
    border-radius: 30px;
    background-color: var(--main-color-2);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
}

#formArticle > #fileInputCreationArticle > label > img {
    height: 100%;
    width: auto;
}

.fileInputs {
    display: none;
}

#imgPreview {
    max-height: 20%;
    object-fit: contain;
}

main > hr {
    width: 100%;
}

.alterForm {
    width: 80%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alterForm > textarea {
    padding: 1%;
}

.alterForm >* {
    margin-top: 1%;
}

.alterForm > input[type=submit],
.alterForm > input[type=file]{
    margin: 3% 5%;
    padding: 15px 15px;
    background-color: var(--main-color-2);
    color: white;
    border: none;
}

.alterForm > #fileInputCreationArticle {
    margin: 1% 5%;
    display: flex;
    align-items: center;
}

.alterForm > #fileInputCreationArticle > label {
    margin: 0 10px;
    padding: 15px 15px;
    border-radius: 30px;
    background-color: var(--main-color-2);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
}

.alterForm > .prevIMG {
    max-height: 150px;
    width: auto;
}

.alterForm > img {
    width: 50%;
}

#submitGrp {
    display: flex;
    justify-content: center;
}

#submitGrp > input[type=submit] {
    margin: 3% 5%;
    padding: 15px 15px;
    background-color: var(--main-color-2);
    color: white;
    border: none;
}

#alterIMG {
    margin: 3% 5%;
    padding: 15px 15px;
    background-color: var(--main-color-2);
    color: white;
    border: none;
}

/* ------------- */
/*     DESKTOP   */
/* ------------- */

@media screen and (min-width: 968px){

    #detailArticle {
        flex-direction: row;
    }

    #detailArticle > img {
        max-width: 50%;
    }
    
    #detailArticle > fieldset
    {
        min-width: 600px;
    }
    
    #formArticle > input,
    #formArticle > textarea,        
    #formArticle > select, 
    .alterForm > input,
    .alterForm > textarea,
    .alterForm > select {
        margin: 2% 5%;
        width : 75%;    
    }
    
    #formArticle {
        width: 50%;
    }

    #alterIMG {
        max-width: 200px;
    }
}