main {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > * {
    margin-top: 2%;
}

form > input {
    padding:  2%;
    width: 75%;
}

form > input[type=submit]{
    width:25%;
    margin-top: 1%;
    padding: 15px 15px;
    background-color: var(--main-color-2);
    color: white;
    border: none;
}

form:nth-child(2) > input[type=submit] {
    width: unset;
    margin-top: 1%;
    padding: 15px 15px;
    background-color: var(--main-color-2);
    color: white;
    border: none;
}

    /* ------------- */
    /*     DESKTOP   */
    /* ------------- */

    @media screen and (min-width: 968px){

        main {
            flex-direction: row;
        }
        
        form > input {
            padding:  1%;
            width: 25%;
        }
    }