main {
    min-height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > a {

    margin: 0 5%;
    padding: 5% 5%;
    border-radius: 100%;
    background-color: var(--main-color-2);
    color: white;
    font-size: 1em;

}