/* ----------------------------------------------------------------------------------- */

/* -------------- */
/*     GENERAL    */
/* -------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover {
    color: inherit;
    text-decoration: inherit; /* no underline */
}




    /* ------------- */
    /*     DESKTOP   */
    /* ------------- */

    @media screen and (min-width: 968px){
        
                  

    }

/* ------------------------------------------------- */

/* ------------- */
/*     HEADER    */
/* ------------- */

    header {
        background-color: #18375F;
        height: 15%;
        width: 100%;
        color: white;
    }

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (min-width: 968px){
        
                  

    }

/* ------------------------------------------------- */

/* -------------- */
/*      MAIN      */
/* -------------- */

    
    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (min-width: 968px){
        
                  

    }  

/* ------------------------------------------------- */

/* ------------- */
/*     FOOTER    */
/* ------------- */


    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (min-width: 968px){
        
                  

    }

/* ----------------------------------------------------------------------------------- */