/* ----------------------------------------------------------------------------------- */

/* -------------- */
/*     GENERAL    */
/* -------------- */
:root {
    --main-color-1 : #18375F;
    --main-color-2 : #346E8C;
    --main-color-3 : #77B9C1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover {
    color: inherit;
    text-decoration: inherit; /* no underline */
}




    /* ------------- */
    /*     DESKTOP   */
    /* ------------- */

    @media screen and (min-width: 968px){
        
                  

    }

/* ------------------------------------------------- */

/* ------------- */
/*     HEADER    */
/* ------------- */

    header {
        background-color: var(--main-color-1);
        height: 15%;
        width: 100%;
        color: white;
    }

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (min-width: 968px){
        
                  

    }

/* ------------------------------------------------- */

/* -------------- */
/*      MAIN      */
/* -------------- */

    
    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (min-width: 968px){
        
                  

    }  

/* ------------------------------------------------- */

/* ------------- */
/*     FOOTER    */
/* ------------- */

    footer > section:nth-child(1) {
        color: black;
        padding: 5px;
        text-align: center;
        background-color: var(--main-color-3);
    }

    footer > section:nth-child(2) {
        color: black;
        padding: 5px;
        text-align: center;
        background-color: var(--main-color-2);
    }

    footer > section:nth-child(3){
        padding: 5px;
        color: white;
        text-shadow: 1px 1px 1px black;
        text-align: center;
        background-color: var(--main-color-1);
    }

    footer > section:nth-child(1) nav, footer > section:nth-child(2) nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer > section:nth-child(3) nav {
        text-shadow: none;
        margin: 20px;
        display: flex;
        flex-direction: column;        
    }

    footer > section:nth-child(3) nav a {
        margin: 10px;
    }

    footer nav a img {
        margin: 10px;
        width: 100px;
        height: 100px;
    }



    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (min-width: 968px){

        footer > section:nth-child(1) nav, footer > section:nth-child(2) nav {
            justify-content: space-evenly;
        }
        
        footer > section:nth-child(3) nav {
            text-shadow: none;
            margin: 20px;
            justify-content: center;
            display: flex;
            flex-direction: row;        
        }
                  

    }

/* ----------------------------------------------------------------------------------- */