/* ----------------------------------------------------------------------------------- */

/* -------------- */
/*     GENERAL    */
/* -------------- */
:root {
    --main-color-1 : #18375F;
    --main-color-2 : #346E8C;
    --main-color-3 : #77B9C1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a, a:hover {
    color: inherit;
    text-decoration: none; /* no underline */
}

h1, h2 {
    color : var(--main-color-1);
}


    /* ------------- */
    /*     DESKTOP   */
    /* ------------- */

    @media screen and (min-width: 968px){
        
                  

    }

/* ------------------------------------------------- */

/* ------------- */
/*     HEADER    */
/* ------------- */

    header {
        background-color: var(--main-color-1);
        height: 15%;
        width: 100%;      
    }
    
    img {
        height: 100%;
        width: 100%;
    }

    header > nav {
        display: none;
    }

    /* ------------- */
    /*     DESKTOP   */
    /* ------------- */

    @media screen and (min-width: 968px){

        header {
            display: flex;
            justify-content: space-between;
        }

        header > a:nth-child(1) > img {
            margin-left: 50px;
            width: 300px;
            height: 100px;
        }

        header > nav  {
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color:white;
        }

        header > nav > a {
            margin: 0 10px;
            padding: 15px 15px;
            border-radius: 30px;
            background-color: var(--main-color-2);
        }



    }

/* ------------------------------------------------- */

/* -------------- */
/*      MAIN      */
/* -------------- */

    /* -------------- */
    /*   FORMULAIRE   */
    /* -------------- */

    .mainFormulaire {
        display: flex;
        flex-direction: row;
    }

    #FormulaireGen {
        width: 40%;
        margin: 5%;
        background-color: coral;
    }

    #FormulaireGen > form {
        display: flex;
        flex-direction: column;
    }

    #FormulaireGen > form > input,
    #FormulaireGen > form > select,
    #FormulaireGen > form > button {
        width: 25%;
        margin-bottom: 1%;
    }

    #FormulaireGen > form > div {
        display: flex;
        flex-direction: column;
    }

    #FormulaireGen > form > div > * {
        width: 25%;
        margin-bottom: 1%;
    }

    #FormulaireGen > form > div > input[type=number]::-webkit-inner-spin-button, 
    #FormulaireGen > form > div > input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; 
    }

    #previewFormulaire {
        width: 40%;
        margin: 5%;
        background-color: lightskyblue;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #previewFormulaire > h2 {
        margin-bottom: 2%;
    }

    #previewFormulaire > input {
        width : 50%;
        margin-bottom: 2%;
    }

    /*----------*/
    /* CAROUSEL */
    /*----------*/

    #divCarousel {
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .slider {
        position:relative;
        overflow: hidden;
        object-fit: contain;
        height:30vh;
        width: 70%;
    }

    .desktopCarouselImgs {
        display:none;
    }

    #boutonActivité {
        position:absolute;
        bottom: 10%;
        padding: 10px 10px;
        border-radius: 30px;
        background-color: var(--main-color-2);        
        color: white;
    }

    .divSousLesFleches {
        border:none;
        background-color:transparent;
        outline:none;
        width: 15%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: blur(4px);
        opacity: 0.6;
    }

    #divflechegauche {
        position:absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 20%;
        top: 40%;
        left: 2%;
    }

    #divflechedroite {
        position:absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 20%;
        top: 40%;
        right: 2%;
        
    }

    /*------------------*/
    /* PAGE ASSOCIATION */
    /*------------------*/

    .mainAssociation {
        display: block;
    }

    .sectionAssociation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5%;
        text-align: justify;
    }

    .contactAsso {
        color : var(--main-color-1);
    }

    .contactAsso > legend {
        display: block;
        width: 150px;
        margin: auto;
        text-align: center;
        padding: 2%;
    }    

    .sectionAssociation > h1, 
    .sectionAssociation > h2 {
        margin-bottom: 5%;
    }

    .divContact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 5% 0;
        padding: 0 5%;
    }

    .divLogoContact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .divLogoContact > a {
        margin-right: 20px;
    }

    .logoContact {
        width: 30px;
    }

    .sectionAssociation > iframe {
        width: 75vmin;
        margin-bottom: 5%;
    }

    .image-styled {
        /* --test:url('View/Media/carousel2.jpg'); */
        background-position: center;
        background-size: cover;
        display: flex;
        height: 75vmin;
        width: 75vmin;
        transition: background 0.5s linear;
    }


    
    /* ------------- */
    /*     DESKTOP   */
    /* ------------- */

    @media screen and (min-width: 968px){



        /*----------*/
        /* CAROUSEL */
        /*----------*/
        
        .slider {
            width: 40%;
        }

        main > section:nth-child(1) > button {
            height :30vh;
            background-position: center;
        }

        .desktopCarouselImgs {
            display:block;
            filter: blur(4px);
            opacity: 0.6;
            height :30vh;
            width: 15%;
            background-position: center;
        }

        #divflechegauche {
            left: 17%;
        }
    
        #divflechedroite {
            right: 17%;
        }


        /*------------------*/
        /* PAGE ASSOCIATION */
        /*------------------*/

        .mainAssociation {
            display: flex;
            flex-direction: row;
        }
    
        .contactAsso {
            display: none;
        }

        .histoire {
            display: block;
        }

        .histoire > h1 {
            width: 100%;
            text-align: center;
        }

        .logo {
            float: left;
            width:25%
        }

        .sectionAssociation > iframe {
            width: 40vmin;
            height: 25vmin;
        }


        .image-styled {
            /* --test:url('View/Media/carousel2.jpg'); */
            background-position: center;
            background-size: cover;
            display: flex;
            height: 50vmin;
            width: 50vmin;
            transition: background 0.5s linear;
        }
                  

    }  

/* ------------------------------------------------- */

/* ------------- */
/*     FOOTER    */
/* ------------- */

    .liensAdministratifs {
        color: black;
        padding: 5px;
        text-align: center;
        background-color: var(--main-color-3);
    }

    .liensEducation {
        color: black;
        padding: 5px;
        text-align: center;
        background-color: var(--main-color-2);
    }

    .liensDuSite {
        padding: 5px;
        color: white;
        text-shadow: 1px 1px 1px black;
        text-align: center;
        background-color: var(--main-color-1);
    }

    .liensAdministratifs > nav, 
    .liensEducation > nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .liensDuSite > nav {
        text-shadow: none;
        margin: 20px;
        display: flex;
        flex-direction: column;        
    }

    .liensDuSite > nav > a {
        margin: 10px;
    }

    .liensAdministratifs > nav > a > img, 
    .liensEducation > nav > a > img  {
        margin: 10px;
        width: 100px;
        height: 100px;
    }

    .liensDuSite > fieldset {
        margin-bottom: 5%;
    }

    .contactFooter {
        display: none;
    }



    /* ------------- */
    /*     DESKTOP   */
    /* ------------- */

    @media screen and (min-width: 968px){

        .liensAdministratifs > nav, 
        .liensEducation > nav  {
            justify-content: space-evenly;
        }
        
        .liensDuSite > nav {
            text-shadow: none;
            margin: 20px;
            justify-content: center;
            display: flex;
            flex-direction: row;        
        }

        .liensDuSite > fieldset {
            display: none;
        }

        .contactFooter {
            display: block;
            margin-bottom: 2%;
        }
                  

    }

/* ----------------------------------------------------------------------------------- */